@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,400;0,500;0,900;1,100;1,400;1,500;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    max-width: 300px;
    height: 100%;
    z-index: 99;
}

.banner {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
    background: url(/assets/Imagenes/Fondos/bg-salto.png) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: 0.5s;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Color oscuro semitransparente */
  z-index: 0; /* Asegura que esté encima del fondo del banner */
}

.content {
    position: relative;
    max-width: 550px;
    display: none;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s;
}

.content.active {
    display: block;
    visibility: visible;
    transform: scale(1);
    transition: 0.5s;
}

.movie-title {
    max-width: 250px;
}

.banner .carousel-box {
  position: absolute;
  bottom: 0px; /* Ajusta la posición vertical según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Asegura que esté por encima del contenido */
  width: 100%; /* Ajusta el ancho para que ocupe todo el ancho disponible */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ajuste el ancho para que ocupe todo el ancho disponible */
  max-width: 100%; /* Ajusta según sea necesario */
  overflow: hidden; /* Asegura que el contenido no se desborde */
}

.carousel .carousel-item {
  width: 250px;
  margin: 0 5px; /* Ajusta según sea necesario */
  cursor: pointer;
}

.carousel .carousel-item img {
    max-width: 235px;
    border-radius: 10px;
    transform: translateX(8px) translateY(-100px);
    object-fit: contain; /* Cambiado de object-fit: ; a object-fit: contain; */
    object-position: center;
}

/* Estilos para los efectos de fuego y otros elementos */
/* Nota: He eliminado los estilos duplicados y corregido algunos errores en las animaciones */

/* SOBRE */
.loader {
  position: absolute;
  border-style: solid;
  box-sizing: border-box;
  border-width: 15px 30px 20px 30px;
  border-color: #e4e954 #bc9b2c #cd7415 #bc9b2c;
  animation: envFloating 1s ease-in infinite alternate;
  margin-left: -80px;
  top: 16%;
  cursor: pointer;

}

.loader:after {
  content: "";
  position: absolute;
  right: 62px;
  height: 70px;
  width: 50px;
  background-image: linear-gradient(#fff 45px, transparent 0),
            linear-gradient(#fff 45px, transparent 0),
            linear-gradient(#fff 45px, transparent 0);
  background-repeat: no-repeat;
  background-size: 30px 4px;
  background-position: 0px 11px , 8px 35px, 0px 60px;
  animation: envDropping 0.75s linear infinite;
}

@keyframes envFloating {
  0% {
    transform: translate(-2px, -5px)
  }

  100% {
    transform: translate(0, 5px)
  }
}

@keyframes envDropping {
  0% {
    background-position: 100px 11px , 115px 35px, 105px 60px;
    opacity: 1;
  }

  50% {
    background-position: 0px 11px , 20px 35px, 5px 60px;
  }

  60% {
    background-position: -30px 11px , 0px 35px, -10px 60px;
  }

  75%, 100% {
    background-position: -30px 11px , -30px 35px, -30px 60px;
    opacity: 0;
  }
}
/* FUEGO */
@keyframes scaleUpDown {
  0%, 100% {
    transform: scaleY(1) scaleX(1);
  }

  50%, 90% {
    transform: scaleY(1.1);
  }

  75% {
    transform: scaleY(0.95);
  }

  80% {
    transform: scaleX(0.95);
  }
}

@keyframes shake {
  0%, 100% {
    transform: skewX(0) scale(1);
  }

  50% {
    transform: skewX(5deg) scale(0.9);
  }
}

@keyframes particleUp {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: -100%;
    transform: scale(0.5);
  }
}

@keyframes glow {
  0%, 100% {
    background-color: #ef5a00;
  }

  50% {
    background-color: #ff7800;
  }
}

.firer {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 90px;
  height: 90px;
  background-color: transparent;
  margin-left: -630px;
  margin-top: -200px;
}

.firer-center {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: scaleUpDown 3s ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.firer-center .main-firer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(farthest-corner at 10px 0, #d43300 0%, #ef5a00 95%);
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.firer-center .particle-firer {
  position: absolute;
  top: 60%;
  left: 45%;
  width: 10px;
  height: 10px;
  background-color: #ef5a00;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.firer-right {
  height: 100%;
  width: 100%;
  position: absolute;
  animation: shake 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.firer-right .main-firer {
  position: absolute;
  top: 15%;
  right: -25%;
  width: 80%;
  height: 80%;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.firer-right .particle-firer {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.firer-left {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: shake 3s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.firer-left .main-firer {
  position: absolute;
  top: 15%;
  left: -20%;
  width: 80%;
  height: 80%;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.firer-left .particle-firer {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 10%;
  height: 10%;
  background-color: #ef5a00;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 3s infinite ease-out 0;
  animation-fill-mode: both;
}

.firer-bottom .main-firer {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 75%;
  height: 75%;
  background-color: #ff7800;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 100% 40%;
  filter: blur(10px);
  animation: glow 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
/* FUEGO 2 */
@keyframes scaleUpDown {
  0%, 100% {
    transform: scaleY(1) scaleX(1);
  }

  50%, 90% {
    transform: scaleY(1.1);
  }

  75% {
    transform: scaleY(0.95);
  }

  80% {
    transform: scaleX(0.95);
  }
}

@keyframes shake {
  0%, 100% {
    transform: skewX(0) scale(1);
  }

  50% {
    transform: skewX(5deg) scale(0.9);
  }
}

@keyframes particleUp {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: -100%;
    transform: scale(0.5);
  }
}

@keyframes glow {
  0%, 100% {
    background-color: #ef5a00;
  }

  50% {
    background-color: #ff7800;
  }
}

.fire {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 90px;
  height: 90px;
  background-color: transparent;
  margin-left: 630px;
  margin-top: -200px;
}

.fire-center {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: scaleUpDown 3s ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-center .main-fire {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(farthest-corner at 10px 0, #d43300 0%, #ef5a00 95%);
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.fire-center .particle-fire {
  position: absolute;
  top: 60%;
  left: 45%;
  width: 10px;
  height: 10px;
  background-color: #ef5a00;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-right {
  height: 100%;
  width: 100%;
  position: absolute;
  animation: shake 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-right .main-fire {
  position: absolute;
  top: 15%;
  right: -25%;
  width: 80%;
  height: 80%;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.fire-right .particle-fire {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-left {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: shake 3s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-left .main-fire {
  position: absolute;
  top: 15%;
  left: -20%;
  width: 80%;
  height: 80%;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.fire-left .particle-fire {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 10%;
  height: 10%;
  background-color: #ef5a00;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 3s infinite ease-out 0;
  animation-fill-mode: both;
}

.fire-bottom .main-fire {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 75%;
  height: 75%;
  background-color: #ff7800;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 100% 40%;
  filter: blur(10px);
  animation: glow 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
/* CONFIGURACION */
.spinner {
  position: fixed;
  top: 20%;
  right: 3%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  width: 56px;
  height: 56px;
  display: grid;
  color: #dbdbdb;
  background: radial-gradient(farthest-side, currentColor calc(100% - 7px), #0000 calc(100% - 6px) 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 15px), #000 calc(100% - 13px));
  border-radius: 50%;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  background: linear-gradient(currentColor 0 0) center, linear-gradient(currentColor 0 0) center;
  background-size: 100% 11px, 11px 100%;
  background-repeat: no-repeat;
}

.spinner::after {
  transform: rotate(45deg);
}

@keyframes spinner-sm4bhi {
  100% {
    transform: rotate(1turn);
  }
}
 /* CAMPANA */
 .campana {
  position: fixed; /* Cambiado a posición fija para que se mantenga en la pantalla */
  top: 35%; /* Posición vertical centrada */
  right: 3%; /* Posición a la derecha del borde derecho de la pantalla */
  transform: translateY(-50%);
  z-index: 1; 
}

.campana img {
  width: 60px;
  height: 60px;
  display: grid;
}
.tienda {
  position: fixed;
  top: 35%;
  left: 3%;
  transform: translateY(-50%);
  z-index: 1;
}

.tienda img {
  width: 60px;
  height: 60px;
  display: grid;
}


